html, body {
    height: 100%;
}

body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, rgba(9, 30, 160, 1) 0%, rgba(1, 1, 1, 1));
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


button {
    background: #1646a0;
    color: #FFF;
    padding: 0 4.5vw;
    border: 0.2vw solid #FFF;
    border-radius: 2.5vw;
    height: 5vw;
    text-transform: uppercase;
    font-weight: bold;
    font-size: clamp(1.2em, 3vw, 2em);
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background-color: #0923af;
}